body {
	margin: 0;
	padding: 0; /*if done in sequence it goes top, left, right and then i assume bottom.*/
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}


.blue-body {
	background: teal;
	height: 100%;
	box-sizing: border-box;
}

.logo {
	padding-top: 60px;
	padding-bottom: 60px;
	height: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sign-up {
	padding: 40px;
	width: 400px;
	display: block;
	height: auto;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	text-align: center;
}

.sign-up legend {
	width: 100%;
	line-height: 40px; /*Whats the difference between height and line-height?*/
	font-size: 35px;
	font-weight: 300;
	color: grey;
	text-align: center;
	letter-spacing: 0;
	margin-left: auto;
	margin-right: auto;
}

input { 
	display: block;
	left: 10px;
	width: 320px;
	height: auto;
	font-size: 18px;
	text-align: left;
	padding: 15px;
	color: grey;
	border: 2px solid grey;
	margin-top: 20px;
	margin-bottom: 20px;
}

button {
	display: block;
	left: 10px;
	width: 320px; /*If width is set to the same as the inputs, why is it smaller?*/
	height: auto;
	font-size: 18px;
	text-align: center;
	padding: 15px;
	background-color: green;
	border: 2px solid grey;
	margin-top: 40px;
	margin-bottom: 20px;
}

button:hover {
	font-stretch: expanded; /*when I have this set to make font weight bold it works, but for some reason font-stretch isn't funtioning.*/
	background-color: darkgreen;
}

footer {
	display: block;
	text-align: center; 
	background-color: teal;
	color: white;
}

footer a:hover {
	font-weight: bold;
}